<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/author.css">
    <link rel="stylesheet" href="/author2.css">
    <%- include("includes/impLinks.ejs") %>
        <title>
            <%=authors.name%>
        </title>
</head>

<body>
    <%- include("includes/navbar.ejs") %>
        <%- include("includes/flash.ejs") %>
            <div class="container">

                <div class="nav-div">
                    <%if(currUser && currUser._id.equals(authors.id)) {%>
                        <a href="/minors/<%=authors.id%>/new">
                            <button style="margin-left: 3rem;">Create New Minor</button>
                        </a>

                        <a href="/majors/<%=authors.id%>/new">
                            <button>Create New Major</button>
                        </a><br><br><br>
                        <% } %>



                            <% for (Minors of authorMinors) { %>
                                <div class="authorMinor">
                                    <a href="/minors/<%=Minors.id%>">
                                        <div class="contains">
                                            <div class="img">
                                                <img src="<%=Minors.img%>" alt="">
                                            </div>

                                            <div class="intro">
                                                <div class="title">
                                                    <h3>
                                                        <%=Minors.title%>
                                                    </h3>
                                                </div>
                                                <div class="desc">
                                                    <%=Minors.desc%>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <%if(currUser && currUser._id.equals(Minors.author)) {%>
                                        <div class="btn">
                                            <button><a
                                                    href="/minors/<%=Minors.id%>/edit">Edit</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button class="delete" id="<%=Minors.id%>">Delete</button>
                                        </div>
                                        <%}%>

                                            <br><br><br>
                                </div>

                                <div class="fullscreen-container" id="<%=Minors.id%>-cont">
                                    <div class="alertBox">
                                        <p style="transform: translate(7rem, 2rem); font-weight: bold;">Do you really
                                            want to delete?</p><br>
                                        <form method="post"
                                            action="http://localhost:8080/minors/<%=Minors.id%>/delete/?_method=DELETE"
                                            style="display: inline;" class="close"><button
                                                style="margin-left: 4rem;">Yes</button></form>
                                        <button class="close" style="margin-left: 1rem;">No</button>
                                    </div>
                                </div>

                                <% } %>

                                    <% for (Majors of authorMajors) { %>
                                        <div class="authorMinor">
                                            <a href="/majors/<%=Majors.id%>">
                                                <div class="contains">
                                                    <div class="img">
                                                        <img src="<%=Majors.img%>" alt="">
                                                    </div>

                                                    <div class="intro">
                                                        <div class="title">
                                                            <h3>
                                                                <%=Majors.title%> (<span
                                                                        style="color: brown;">Major</span>)
                                                            </h3>
                                                        </div>
                                                        <div class="desc">
                                                            <%=Majors.desc%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <%if(currUser && currUser._id.equals(Majors.author)) {%>
                                                <div class="btn">
                                                    <a href="/majors/<%=Majors.id%>/submajor/new"
                                                        style="width: fit-content; height: fit-content;"><button>Add New
                                                            Topic</button></a>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <button class="delete" id="<%=Majors.id%>">Delete</button>
                                                </div>
                                                <%}%>

                                                    <br><br><br>
                                        </div>

                                        <div class="fullscreen-container" id="<%=Majors.id%>-cont">
                                            <div class="alertBox">
                                                <p style="transform: translate(7rem, 2rem); font-weight: bold;">Do you
                                                    really want to delete?</p><br>
                                                <form method="post"
                                                    action="http://localhost:8080/majors/<%=Majors.id%>/topic/delete/?_method=DELETE"
                                                    style="display: inline;" class="close"><button
                                                        style="margin-left: 4rem;">Yes</button></form>
                                                <button class="close" style="margin-left: 1rem;">No</button>
                                            </div>
                                        </div>

                                        <% } %>
                </div>

                <div class="author-div">
                    <div class="author">
                        <h1>
                            <%=authors.name%>
                        </h1>
                    </div>
                    <div class="author-image"><img src="<%=authors.img%>" alt=""></div>
                    <div class="content">
                        <%=authors.description%>
                    </div>
                </div>
            </div>



            <%- include("includes/footer.ejs") %>
                <script src="../authorDialog.js"></script>
</body>

</html>