<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <%- include("includes/impLinks.ejs") %>
        <link rel="stylesheet" href="/authors.css">

</head>

<body>
    <%- include("includes/navbar.ejs") %>

        <div class="authors">
            <% for(author of authors) { %>
                <div class="author">
                    <div class="img">
                        <img src="<%=author.img%>" alt="Image not valid">
                    </div>

                    <p>
                        <%=author.name%>
                    </p>

                    <div class="links">
                        <span><i class="fa-brands fa-facebook" style="color: #c6d4eee3; font-size: 2.2rem;"></i></span>
                        <span><i class="fa-brands fa-instagram"
                                style="background-color: #cf215b; color: white; padding: 0.4rem;"></i></span>
                        <span><i class="fa-brands fa-youtube"
                                style="background-color: #ff0000; color: white; font-size: 1.6rem; padding: 0.4rem;"></i></span>
                        <span><i class="fa-brands fa-x-twitter"
                                style="background-color: #000000; color: white; font-size: 1.6rem; padding: 0.4rem;"></i></span>
                    </div><br>

                    <a href="/authors/<%=author.id%>"><button>Know More</button></a><br>

                </div>
                <% } %>
        </div>

        <%- include("includes/footer.ejs") %>
</body>

</html>