<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Majors</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&family=Plus+Jakarta+Sans:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="authors.css">

</head>

<body>
    <%- include("includes/navbar.ejs") %>

        <div class="search-bar">
            <form action="/authors/search">
                <input type="text" list="search" name="name" >&nbsp;&nbsp;&nbsp;
                <datalist id="search" >
                    <% for(author of authors) { %>
                        <option value="<%=author.name%>"><%=author.name%></option>
                    <% } %>
                </datalist>
                <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

        <div class="authors">
            <% for(author of authors) { %>
                    <div class="author"> 
                        <div class="img"><img src="<%=author.img%>" alt="">
                    </div>

                    <p><%=author.name%></p>

                        <div class="links"> 
                            <span><i class="fa-brands fa-facebook" style="color: #c6d4eee3; font-size: 2.2rem;"></i></span>
                            <span><i class="fa-brands fa-instagram" style="background-color: #cf215b; color: white; padding: 0.4rem;"></i></span>
                            <span><i class="fa-brands fa-youtube" style="background-color: #ff0000; color: white; font-size: 1.6rem; padding: 0.4rem;"></i></span>
                            <span><i class="fa-brands fa-x-twitter" style="background-color: #000000; color: white; font-size: 1.6rem; padding: 0.4rem;"></i></span>
                        </div><br>
                        
                        <a href="/authors/<%=author.id%>"><button>Know More</button></a><br>
                        
                    </div>
                <% } %>
        </div>

        <%- include("includes/footer.ejs") %>
</body>

</html>