<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="home2.css">
    <%- include("includes/impLinks.ejs") %>
        <title>ArticleVerse- Your Personal Learning Spot</title>
</head>

<body>
    <%- include("includes/navbar.ejs") %>
        <%- include("includes/flash.ejs") %>

            <div class="search-bar">
                <form action="/search">
                    <input type="text" list="search" name="title">&nbsp;&nbsp;&nbsp;
                    <datalist id="search">
                        <% for(major of uniqueMajors) { %>
                            <option value="<%=major%> - Major"></option>
                            <% } %>
                                <% for(minor of uniqueMinors) { %>
                                    <option value="<%=minor%> - Minor"></option>
                                    <% } %>
                                        <% for(author of uniqueAuthors) { %>
                                            <option value="<%=author%>"></option>
                                            <% } %>
                    </datalist>
                    <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div><br><br>

            <div class="dynamicImg">

                <div class="mainText">
                    <span>MEET OUR TEAM</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia earum maiores minus
                        iure
                        nostrum tenetur, eaque quia exercitationQuod voluptas nisi eaque.
                        Beatae cum obcaecati culpa eum deleniti eos,</p>
                </div>

                <div class="leftIcon"><i class="fa-solid fa-circle-arrow-left icon" onclick="goPrev()"></i></div>

                <div class="author">
                    <%for(author of authors) {%>
                        <img src="<%=author.img.url%>" alt="" class="slide">
                        <%}%>
                </div>

                <div class="rightIcon"><i class="fa-solid fa-circle-arrow-right icon" onclick="goNext()"></i></div>
            </div>

            <h1>Hot Topics</h1>

            <div class="topics">
                <% for (let i=0; i < 5; i++) { %>
                    <a href="/majors/<%=allmajors[i]._id%>">
                        <div class="topic">
                            <div class="img">
                                <img src="<%=allmajors[i].img%>" alt="">
                            </div>

                            <ul>
                                <li>
                                    <%=allmajors[i].title%>
                                </li>
                                <li>
                                    <%=allmajors[i].author.name%>
                                </li> <br>
                                <li class="description">
                                    <%=allmajors[i].desc%>...
                                </li>
                            </ul>
                        </div>
                    </a>
                    <% } %>

                        <a href="/majors">
                            <div class="topic">
                                <h2>Show More</h2>
                            </div>
                        </a>

            </div>
            <hr><br>

            <h1>Recents</h1>

            <div class="topics" style="margin-bottom: 10rem;">
                <% for (let i=0; i < 5; i++) { %>
                    <a href="/minors/<%=allminors[i]._id%>">
                        <div class="topic">
                            <div class="img">
                                <img src="<%=allminors[i].img%>" alt="">
                            </div>

                            <ul>
                                <li>
                                    <%=allminors[i].title%>
                                </li>
                                <li>
                                    <%=allminors[i].author.name%>
                                </li> <br>
                                <li class="description">
                                    <%=allminors[i].desc%>...
                                </li>
                            </ul>
                        </div>
                    </a>
                    <% } %>

                        <a href="/minors">
                            <div class="topic">
                                <h2>Show More</h2>
                                </ul>
                            </div>
                        </a>

            </div>



            <%- include("includes/footer.ejs") %>
                <script src="home.js"></script>
</body>

</html>