<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Majors</title>
    <%- include("includes/impLinks.ejs") %>
        <link rel="stylesheet" href="majors.css">

</head>

<body>
    <%- include("includes/navbar.ejs") %>

        <div class="majors">

            <% for(blog of blogs) { %>
                <div class="major">

                    <div class="writer">
                        <img src="img7.jpg" alt="">
                    </div>

                    <a href="/majors/<%=blog._id%>">
                        <div class="topic">
                            <div class="topicImg">
                                <img src=<%=blog.img %> alt="">
                            </div>

                            <div class="content">
                                <ul>
                                    <li><span>Title:</span> &nbsp;<%=blog.title%>
                                    </li><br>
                                    <li><span>Author:</span> &nbsp;<%=blog.author.name%>
                                    </li><br>
                                    <li><span>Description:</span> &nbsp;<%=blog.desc%>
                                    </li><br>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>

        <%- include("includes/footer.ejs") %>
</body>

</html>