<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Majors</title>
    <%- include("includes/impLinks.ejs") %>
    <link rel="stylesheet" href="/majors.css">

</head>

<body>
    <%- include("includes/navbar.ejs") %>

    <button id="filter">Filter</button>
    <div class="tags">
        <a href="/majors?tag=Technology"><button>Technology</button></a>
        <a href="/majors?tag=Engineering"><button>Engineering</button></a>
        <a href="/majors?tag=Business"><button>Business</button></a>
        <a href="/majors?tag=Love"><button>Love</button></a>
        <a href="/majors?tag=Relations"><button>Relations</button></a>
        <a href="/majors?tag=Medicine"><button>Medicine</button></a>
        <a href="/majors"><button>None</button></a>
        <div class="tag-close"><i class="fa-solid fa-xmark"></i></div>
    </div>
<br><br><br><br>
        <div class="majors">

            <% for(blog of blogs) { %>
                <div class="major showIt">

                    <div class="writer">
                        <img src="<%=blog.author.img.url%>" alt="">
                    </div>

                    <a href="/majors/<%=blog._id%>">
                        <div class="topic">
                            <div class="topicImg">
                                <img src=<%=blog.img.url %> alt="">
                            </div>

                            <div class="content">
                                <ul>
                                    <li><span>Title:</span> &nbsp;<%=blog.title%>
                                    </li>
                                    <li><span>Author:</span> &nbsp;<%=blog.author.name%>
                                    </li><br>
                                    <li style="max-width: 95%;"><span>Description:</span> &nbsp;<%=blog.description.substring(0, 250)%>...
                                    </li><br>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>

        <%- include("includes/footer.ejs") %>
</body>

<script src="/filter.js"></script>
<script>
    let i = 0;
    window.addEventListener("scroll", () => {
        if(window.scrollY + window.innerHeight >= document.documentElement.scrollHeight) {
            fetch("http://localhost:8080/majors/getMore")
            .then(async (res) => {
                let final = await res.json();

                let addition="";
                for(const blog of final) {
                    if(i>=10) break;
                    let str = `<div class="major showIt"><div class="writer"><img src="${blog.author.img.url}" alt=""></div><a href="/majors/${blog._id}"><div class="topic"><div class="topicImg"><img src=${blog.img.url} alt=""></div><div class="content"><ul><li><span>Title:</span> &nbsp;${blog.title}</li><br><li><span>Author:</span> &nbsp;${blog.author.name}</li><br><li style="max-width: 95%;"><span>Description:</span> &nbsp;${blog.description.substring(0, 250)}...</li><br></ul></div></div></a></div>`
                    addition+=str;
                    }
                if(i<10) {
                    const mainClass = document.querySelector(".majors");
                    const mainText = mainClass.innerHTML;
                    mainClass.innerHTML = mainText + addition;
                }
                i++;
            });
        }
    })
</script>
</html>