<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/major.css">
    <link rel="stylesheet" href="/major2.css">
    <%- include("includes/impLinks.ejs") %>
        <title>Major: <%=data.title%></title>

</head>

<body>
    <%- include("includes/navbar.ejs") %>
        <%- include("includes/flash.ejs") %>


            <div class="container">

                <div class="about">
                    <div class="img"><img src="<%=data.img%>" alt="" style="margin-left: 0.2rem;"></div>
                    <div class="written">
                        <h2>
                            <%=data.title%>
                        </h2>
                        <h3>
                            <%=data.author.name%>
                        </h3>
                        <p>
                            <%=data.description%>
                        </p>
                    </div>
                </div>

                <div class="nav-div">
                    <div id="icons">
                        <% if (currUser && (data.love.indexOf(currUser.id)==-1 && data.like.indexOf(currUser.id)==-1)) {
                            %>
                            <i class="fa-solid fa-heart" id="heart"></i>
                            <i class="fa-solid fa-thumbs-up" id="thumb"></i>
                            <% } %>
                                <%if (currUser && (data.love.indexOf(currUser.id) !=-1 || data.like.indexOf(currUser.id)
                                    !=-1)) {%>
                                    <i class="fa-solid fa-heart" style="color: red;"></i><span
                                        style="font-size: 1.5rem;">
                                        <%=loves%>
                                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="fa-solid fa-thumbs-up" style="color: rgb(42, 153, 243);"></i><span
                                        style="font-size: 1.5rem;">
                                        <%=likes%>
                                    </span>
                                    <% }%>
                                        <%if (!currUser) {%>
                                            <i class="fa-solid fa-heart" style="color: red;"></i><span
                                                style="font-size: 1.5rem;">
                                                <%=loves%>
                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="fa-solid fa-thumbs-up" style="color: rgb(42, 153, 243);"></i><span
                                                style="font-size: 1.5rem;">
                                                <%=likes%>
                                            </span>
                                            <% }%>
                    </div>
                    <div id="btn" style="background-color: transparent; border: none;">

                        <form method="post" action="http://localhost:8080/majors/<%=data._id%>/love">
                            <button id="lovebtn">Love</button>&nbsp;&nbsp;&nbsp;
                        </form>
                        <form method="post" action="http://localhost:8080/majors/<%=data._id%>/like">
                            <button id="likebtn">Like</button>
                        </form>
                    </div>
                </div>

                <ol>
                    <br><br><br><br>
                    <% for(sub of data.submajor) { %>
                        <div class="submajors">
                            <a href="<%=data._id%>/submajor?subid=<%=sub._id%>">
                                <li>
                                    <%=sub.subtitle%>
                                </li>
                            </a>
                        </div>
                        <% } %>
                </ol>

            </div>


            <br><br><hr>
            <h2>Comments</h2>
            <div class="comments">
                
                <% if (currUser){ %>
                <div class="comment">
                    <div class="img">
                    <img src="<%=currUser.img%>">
                    </div>
                    
                    <div class="container">
                        <h3><%=currUser.name%> <%if(currUser.typ) {%> &#10037; <%}%></h3> 
                        <form action="http://localhost:8080/majors/<%=data._id%>/comment" method="post">
                            <textarea name="writer" style="display: none;"><%=currUser.name%></textarea>
                            <input type="text" name="comment" required>
                            <button><img src="../send.png" class="send-icon"></button>
                        </form>
                        
                    </div>
                </div>
                <% } %>
                 
                <%for(com of data.comments) {%>
                 <div class="comment">
                    <div class="img">
                    <%if(com.img){%><img src="<%=com.img%>"><%}%>
                    <%if(!com.img){%><img src="/authors/demo.png"><%}%>
                    </div>
                    
                    <div class="container">
                    <h3><%=com.commentWriter%> <%if(com.typ=="author"){%>&#10037;<%}%></h3>
                    <h4><%=com.date%></h4>
                    <p><%=com.comment%></p>
                    </div>
                </div>
                <% } %>
            </div>
<br><br><br>


            <%- include("includes/footer.ejs") %>
                <script src="../likeMajor.js"></script>
</body>

</html>