<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minors</title>
    <%- include("includes/impLinks.ejs") %>
        <link rel="stylesheet" href="minors.css">

</head>

<body>
    <%- include("includes/navbar.ejs") %>

        <div class="minors">

            <% for(minor of minors) { %>
                <a href="/minors/<%=minor._id%>">
                    <div class="minor">
                        <div class="img">
                            <img src="<%=minor.img%>" alt="">
                        </div>

                        <div class="info">
                            <ul>
                                <li>
                                    <%=minor.title%>
                                </li><br>
                                <li>
                                    <%=minor.author.name%>
                                </li><br>
                                <li>
                                    <%=minor.desc%>
                                </li>
                            </ul>

                        </div>
                    </div>
                </a>
                <% } %>
        </div>

        <%- include("includes/footer.ejs") %>
</body>

</html>