<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/impLinks.ejs") %>
    <link rel="stylesheet" href="/newMinor.css">
    <title>Create New Major</title>
</head>
<body>
    <%- include("includes/navbar.ejs") %>
    <%- include("includes/flash.ejs") %>

    <div class="container">
        <h1>Create New Major</h1><br>
        <form method="post" action="http://localhost:8080/majors/<%=obj.id%>/new">
            <label for="title">Title</label><br>
            <input name="title" type="text" id="title" required><br><br>

            <label for="img">Image</label><br>
            <input type="text" name="img" id="img" required><br><br><br>

            <label >Genre:</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="tag">
                <label for="Technology">Technology</label>
                <input type="checkbox" name="tag" id="Technology" value="Technology">
            </button>
            <button id="tag">
                <label for="Engineering">Engineering</label>
                <input type="checkbox" name="tag" id="Engineering" value="Engineering">
            </button>
            <button id="tag">
                <label for="Business">Business</label>
                <input type="checkbox" name="tag" id="Business" value="Business">
            </button>
            <button id="tag">
                <label for="Love">Love</label>
                <input type="checkbox" name="tag" id="Love" value="Love">
            </button>
            <button id="tag">
                <label for="Relations">Relations</label>
                <input type="checkbox" name="tag" id="Relations" value="Relations">
            </button>
            <button id="tag">
                <label for="Medicine">Medicine</label>
                <input type="checkbox" name="tag" id="Medicine" value="Medicine">
            </button>
            <br><br><br>

            <label for="description">Description</label><br>
            <textarea name="description" id="description" rows="5" cols="75" required minlength="200" maxlength="1000"></textarea><br><br>

            <button style="transform: translateX(0.8rem);">Create</button>
        </form>
    </div>


    <%- include("includes/footer.ejs") %>
</body>
</html>